APP_FRONTEND_URL=http://127.0.0.1:4200

DB_URL=jdbc:mysql://localhost:3306/portfolio_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=change-me

JPA_SHOW_SQL=true
HIBERNATE_FORMAT_SQL=true

GOOGLE_CLIENT_ID=change-me
GOOGLE_SECRET=change-me

CLOUDINARY_CLOUD_NAME=change-me
CLOUDINARY_API_KEY=change-me
CLOUDINARY_SECRET=change-me

JWT_SECRET=change-me-to-a-strong-secret-at-least-32-chars

LIVE_RELOAD_ENABLED=true
THYMELEAF_CACHE=false
